:root {
  --accent-color: #09e079;
  --hover-color: #1c9c5f;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex; /*чтобы прижать footer*/
  flex-direction: column; /*чтобы прижать footer*/

  min-width: 300px;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  color: var(--font-color);
  background-color: var(--background-color);
  line-height: 1.3;
  font-weight: 300;
  transition: background-color 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

.visual-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  border: 0;
}

.container {
  max-width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* ===================================== header ============================================*/
.icon-svg-logo {
  fill: var(--font-color);
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-logo {
  width: 76px;
  height: 40px;
}

.form-search {
  width: 100%;
  max-width: 850px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.search-label {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 44px;
  margin-right: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.search-input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 35px;
  border: 1px solid var(--border-color);
  border-radius: 22px;
  outline: none;
}

.search-submit {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.icon-search {
  width: 22px;
  height: 22px;
  fill: var(--font-color);
}

.choices {
  width: 320px;
}

.choices__inner {
  display: flex;
  align-items: center;
  height: 44px;
  padding-left: 20px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 22px;
}

.choices__placeholder {
  opacity: 1;
}

.choices[data-type*="select-one"]::after {
  right: 20px;
}

.change-mode {
  width: 30px;
  height: 30px;
  padding: 0 30px;
}

.icon-mode {
  width: 30px;
  height: 30px;
  fill: var(--accent-color);
  transition: 0.3s;
}

.change-mode:hover .icon-mode {
  fill: var(--hover-color);
}

/* ===================================== main ==============================================*/

.main {
  flex-grow: 1; /*чтобы прижать footer*/
}

.title-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.title {
  font-size: 26px;
  font-weight: 700;
}

.news {
  padding-top: 40px;
  padding-bottom: 50px;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  justify-content: space-evenly;
  gap: 40px 20px;
}

/* =========== card ============*/

.news-image {
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

.news-item {
  display: flex; /*чтобы дата прижалась к низу в карточке*/
  flex-direction: column; /*чтобы дата прижалась к низу в карточке*/
}

.news-link {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  background-image: url("../assets/img/icon-link.svg");
  background-repeat: no-repeat;
  background-position: top right;
  padding-right: 30px;
  transition: color 0.3s ease-in-out;
}

.news-link:hover {
  color: var(--accent-color);
}

.news-description {
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto; /*чтобы дата прижалась к низу в карточке*/
}

.news-datetime,
.news-author {
  font-size: 10px;
  line-height: 13px;
  color: var(--second-font-color);
}

.news-date {
  display: inline-block;
  margin-right: 12px;
}

/* ===================================== footer ============================================*/

.footer {
  padding-top: 22px;
  padding-bottom: 22px;
  border-top: 1px solid var(--border-color);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-logo {
  justify-self: start;
  align-self: center;
}

.copyright {
  justify-self: center;
  align-self: end;
  font-size: 12px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-self: end;
  align-self: center;
}

.social-link {
  display: block;
  width: 30px;
  height: 30px;
  color: var(--accent-color);
  fill: currentColor;
  transition: color 0.3s ease-in-out;
}

.social-link:hover {
  color: var(--hover-color);
  fill: currentColor;
}

.icon-twitter,
.icon-habr,
.icon-vk {
  width: 30px;
  height: 30px;
}

/* ===================================== media quaries =====================================*/
@media screen and (max-width: 1065px) {
  .form-search {
    width: 100%;
    max-width: 655px;
  }

  .search-label {
    width: 100%;
    max-width: 300px;
  }
}

@media screen and (max-width: 810px) {
  .mode {
    position: fixed;
    top: 25px;
    right: 20px;
  }

  .header-container {
    flex-direction: column;
  }

  .form-search {
    flex-direction: column;
    width: 90%;
    max-width: none;
  }

  .search-label {
    width: 100%;
    max-width: none;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .choices {
    width: 100%;
  }

  .title {
    font-size: 20px;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .copyright {
    grid-column: 1/3;
    order: 1;
  }
}
