* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

.visual-hidden {
  display: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

/* ===================================== header ============================================*/
header {
  border-bottom: 1px solid #e6e6e6;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.search-label {
  position: relative;
  margin-right: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.search-input {
  width: 500px;
  height: 44px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 22px;
  outline: none;
}

.search-submit {
  position: absolute;
  top: -2px;
  right: 20px;
}

.js-choice {
  width: 320px;
  height: 44px;
  padding: 0 20px;
  border: 1px solid #e6e6e6;
  border-radius: 22px;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 5px;
  cursor: pointer;
}

/* ===================================== main ==============================================*/
.title-wrapper {
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
}

.title {
  font-size: 26px;
  font-weight: 700;
  line-height: 130%;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
  gap: 40px 20px;
}

/* =========== card ============*/
.news-item {
  width: 270px;
  height: 360px;
}

.news-link {
  display: block;
  max-width: 240px;
  margin: 10px 0;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #212121;
}

.news-title {
  position: relative;
}

.news-title::after {
  display: block;
  position: absolute;
  content: " ";
  background-image: url("./assets/img/icon-link.svg");
  height: 24px;
  width: 24px;
  top: 0;
  right: 0;
  cursor: pointer;
}

.news-description {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 15, 6px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-datetime,
.news-author {
  font-size: 10px;
  line-height: 13px;
  font-weight: 300;
}

/* ===================================== footer ============================================*/

/* ===================================== media quaries =====================================*/
